{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {{ request.user }}
        <div class="card">
            <h4>{% for todo in todos %}
                <h5><a href="{{ todo.get_absolute_url }}" class="card-body"> {{ todo.title }} </a><br></h5>
                <small><a href="{% url 'home:detail' todo.id todo.slug %}" class="card-body"> {{ todo.user }}-{{ todo.created|date:"d M Y" }} </a></small>
                <hr>
            {% endfor %}
            </h4>
        </div>
    {% else %}
        <h4><a href="{% url 'accounts:user_login' %}"> Login </a> to create todos and enjoy  </h4>
    {% endif %}
{% endblock %}
