{% extends 'base.html' %}
{% block Title %} {{ user.username }} Profile {% endblock %}
{% block content %}
    <p>Username:</p>
    <h5>{{ user.username }}</h5>
    <p>Date Joined:</p>
    <h5>{{ user.date_joined }}</h5>
    <p>Last Login:</p>
    <h5>{{ user.last_login }}</h5>
    <p>Email:</p>
    <h5>{{ user.email }}</h5>
    {% if request.user.id == user.id %}
        <a href="{% url 'home:create' %}" class="btn btn-primary">Create New Post</a>

    {% endif %}
    <hr>
    <h4 class="text-center">Posts</h4>
    <div class="card">
        <h4>{% for todo in todos %}
            <h5><a href="{% url 'home:detail' todo.id todo.slug %}" class="card-body"> {{ todo.title }} </a><br></h5>
            <small><a href="{% url 'home:detail' todo.id todo.slug %}"
                      class="card-body"> {{ todo.user }}-{{ todo.created|date:"d M Y" }} </a></small>
            <hr>
        {% endfor %}
        </h4>
    </div>
{% endblock %}
