<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <h2><a class="navbar-brand" href="{% url 'home' %}">Home</a></h2>
        {% if user.is_authenticated %}
            <a href="{% url 'user_loguot' %}" class="navbar-brand"> Logout </a>
        {% else %}
            <a href="{% url 'user_login' %}" class="navbar-brand"> Login </a>
            <a href="{% url 'user_register' %}" class="navbar-brand"> Register </a>

        {% endif %}
    </div>
</nav>
